BOT_TOKEN=
OMDB_API_KEY=
TMDB_API_KEY=
OPENAI_API_KEY=
CHAT_ID=
ADMIN_USER_ID=
BRAVE_API_KEY=
JINA_API_KEY=

#db
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

#s3
S3_ENDPOINT=
S3_BUCKET=
DB_BACKUP_DIR=